body {
  background-image: url("WidgetCoLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  }
  article {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
  }
  section {
    background-color: lightyellow; 
    border: 2px solid green; 
    padding: 10px; 
  }
  section a {
    font-weight: bold;
  }
  header {
    text-align: center;
    font-variant:small-caps;
    font-size: 12pt;
    border-top: 1px solid black; 
    border-bottom: 1px solid black;
    padding: 5px;
  }
  aside {
    text-align:right;
  }
  aside::first-line {
    font-weight: bold;
  }
  footer {
    border-top: 1px solid darkgrey;
    text-align: right;
    color: lightgrey;
    font-style: italic;
  }
  footer a:link {
    color: grey;
  }
  h1 {
    font-size: 40pt;
  }
  h2 {
    font-style: italic;
  }